// THIS IS A DARKPACK UI FILE
@use 'sass:meta';
@use 'base';
@use '~tgui-core/styles';

// Layouts
@include meta.load-css('./interfaces/Atm.scss');
@include meta.load-css('./interfaces/Telephone.scss');

// NT Theme
.Layout__content {
  background-image: url('assets/bg-vtm.svg');
}
